fastapi==0.95.2
filelock==3.12.0
gunicorn==19.9.0
httptools==0.5.0
keras
matplotlib
mpmath
numpy
pandas
Pillow
pydantic
scikit-learn
scipy
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
uvicorn
